@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

:root {
  --white: #fff;
  --blue-500: #3685ff;
  --blue-600: #2c7dfa;
  --slate-300: #d5e1ef;
  --slate-500: #68778d;
  --slate-900: #1f314f;

  --spacing-200: 16px;
  --spacing-300: 24px;
  --spacing-500: 40px;

  --font-regular: 400;
  --font-bold: 700;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--slate-300);
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
}

.card {
  background-color: var(--white);
  border-radius: 20px;
  max-width: 320px;
}

.card__container {
  padding: var(--spacing-200);
}

.card__qr-container {
  background-color: var(--blue-600);
  padding: 64px;
  border-radius: 10px;
}

.card__qr-container img {
  width: 160px;
  height: 160px;
  aspect-ratio: 1/1;
}

.card__content {
  margin-top: var(--spacing-300);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-200);
  padding: 0 var(--spacing-200);
  margin-bottom: var(--spacing-300);
}

.card__title,
.card__description {
  text-align: center;
}

.card__title {
  color: var(--slate-900);
  font-weight: var(--font-bold);
  font-size: 22px;
  line-height: 1.2;
}

.card__description {
  color: var(--slate-500);
  font-weight: var(--font-regular);
  font-size: 15px;
  line-height: 1.4;
  letter-spacing: 0.2px;
}
