:root {
  --white: #fff;
  --blue-500: #3685ff;
  --blue-600: #2c7dfa;
  --slate-300: #d5e1ef;
  --slate-500: #68778d;
  --slate-900: #1f314f;

  --spacing-200: 16px;
  --spacing-300: 24px;
  --spacing-500: 40px;

  --font-regular: 400;
  --font-bold: 700;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #d5e1ef;
}

.card {
  background-color: var(--white);
  border-radius: 20px;
  max-width: 320px;
}

.card__container {
  padding: 16px;
}

.card__qr-container {
    background-color: #2c7dfa;
    padding: 64px;
    border-radius: 10px;
}
